<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to PicShare!</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {{!-- Remove <header></header> Block, paste into other handlebars templates and modify for page specific scenarios --}}
  <header class="p-3 flex bg-blue-600 text-white">
  <h1 class = "text-2xl font-bold">📸 PicShare</h1>
  <nav class = "ml-auto"></nav>
  <a class="navbar-item" href="/gallery">gallery</a>
    {{#if logged_in}}
  <nav class = "ml-auto">
    <button class = "btn border-solid border-2 border-white rounded p-1 text-sm" id="logout">Log Out</button>
    {{else}}
    <button class = "btn border-solid border-2 border-white rounded p-1 text-sm" id="login">Log In</button>

  </nav>
    {{/if}}
</header>

  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/image.js"></script>
  
</body>

</html>
