{{!-- Header w/ Login / Sign up links in NavBar --}}

{{!-- Hero / Jumbotron thang --}}
    {{!-- Slideshow Loop for background? --}}
    
{{!-- <h1>Welcome to PicShare.</h1> --}}
    
{{!-- <p>PicShare is a minimalist, simple to use image sharing app that allows users to upload and share images with ease. Log in or sign up to get started.</p> --}}
hello